<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2218d450-c1a6-42d5-8ece-708802b928c6/resourcegroups/EcoSAN/providers/Microsoft.Web/sites/EcoSAN</ResourceId>
    <ResourceGroup>EcoSAN</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ecosan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ecosan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EcoSAN</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EcoSAN</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sqlConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ecosandbserver.database.windows.net,1433;Initial Catalog=EcoSAN_db;Persist Security Info=False;User ID=spartan;Password=GoGreen2018;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ecosandbserver.database.windows.net,1433;Initial Catalog=EcoSAN_db;Persist Security Info=False;User ID=spartan;Password=GoGreen2018;Connect Timeout=300;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sqlConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ecosandbserver.database.windows.net,1433;Initial Catalog=EcoSAN_db;Persist Security Info=False;User ID=spartan;Password=GoGreen2018;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="sqlConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:ecosandbserver.database.windows.net,1433;initial catalog=EcoSAN_db;persist security info=False;user id=spartan;password=GoGreen2018;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>